<!-- Header -->
<header class="page-header">
    <!-- Logo -->
  <a routerLink="">
       <div class="logo">
           <img src="../../assets/images/angular-logo-black-and-white.png" alt="Angular 13 - logo">
       </div>
  </a>
   <!-- Navigation -->
   <nav>
       <a routerLink="">Home</a>
       <a routerLink="Contact">Contact Us</a>
       <a routerLink="About">About Us</a>
   </nav>
   <!-- Social media icons -->
   <div class="social-icons">
       <a href="#"><i class="fab fa-twitter"></i></a>
       <a href="#"><i class="fab fa-facebook-square"></i></a>
       <a href="#"><i class="fab fa-linkedin"></i></a>
   </div>
</header>

<router-outlet></router-outlet>
